[Unit]
Description=Codesearch index updater

[Service]
ExecStart=%h/.go/bin/csupdater --config %h/git/freva/codesearch/config --exit-early
Restart=always
RestartSec=60

[Install]
WantedBy=default.target
