[Unit]
Description=Codesearch HTTP server

[Service]
ExecStart=/home/valerijf/dev/codesearch/updater/bin/server -c /home/valerijf/dev/codesearch/config
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
