* {
    margin: 0;
}

.shiki code {
    display: flex;
    flex-direction: column;
}

.shiki .line {
    height: 19.5px
}

.line.highlight {
    background: #ffffc0;
}

.highlight {
    background: #ffff00;
}

.container {
    padding: 15px;
}

a {
    text-decoration: none;
}

table.hit {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
table.hit td.block {
    padding: 0;
}

table.hit td.block {
    border-left: 1px solid #888;
    border-right: 1px solid #888;
}
table.hit td.block-start {
    margin-top: 2px;
    border-top: 1px solid #888;
}
table.hit td.block-end {
    margin-bottom: 2px;
    border-bottom: 1px solid #888;
}

table.hit td:first-child {
    width: 5ex;
    text-align: right;
    font-family: monospace;
    font-size: 90%;
}

table.hit td:first-child a {
    color: black;
}

table.hit pre {
    padding: 2px;
    margin: 0;
    line-height: normal;
    cursor: pointer;
}
